In [1]:
library(data.table)
library(dplyr)
library(stringr)
library(stringi)
library(rio)
library(readxl)
library(writexl)
library(readr)
library(readxlsb)
library(data.table)
library(plyr)
library(lubridate)
library(reshape2)
library(anytime)
library(arrow)
library(openxlsx)
library(tidyverse)
library(broom)
library(ggcorrplot)
library(DataExplorer)
library(anytime)

Attaching package: 'dplyr'


The following objects are masked from 'package:data.table':

    between, first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


------------------------------------------------------------------------------

You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)

------------------------------------------------------------------------------


Attaching package: 'plyr'


The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize


Loading required package: timechange


Attaching package: 'lubridate'


The following objects are masked from 'package:data.table':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from 'package:base':

    date, intersect, setdiff, union



Attaching package: 'reshape2'


The following objects are masked from 'package:data.table':

    dcast, melt



Attaching package: 'arrow'


The following object is masked from 'package:lubridate':

    duration


The following object is masked from 'package:utils':

    timestamp


── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0     ✔ purrr   0.3.5
✔ tibble  3.1.8     ✔ forcats 0.5.2
✔ tidyr   1.2.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ plyr::arrange()          masks dplyr::arrange()
✖ lubridate::as.difftime() masks base::as.difftime()
✖ dplyr::between()         masks data.table::between()
✖ purrr::compact()         masks plyr::compact()
✖ plyr::count()            masks dplyr::count()
✖ lubridate::date()        masks base::date()
✖ arrow::duration()        masks lubridate::duration()
✖ plyr::failwith()         masks dplyr::failwith()
✖ dplyr::filter()          masks stats::filter()
✖ dplyr::first()           masks data.table::first()
✖ lubridate::hour()        masks data.table::hour()
✖ plyr::id()               masks dplyr::id()
✖ lubridate::intersect()   masks base::intersect()
✖ lubridate::isoweek()     masks data.table::isoweek()
✖ dplyr::lag()             masks stats::lag()
✖ dplyr::last()            masks data.table::last()
✖ lubridate::mday()        masks data.table::mday()
✖ lubridate::minute()      masks data.table::minute()
✖ lubridate::month()       masks data.table::month()
✖ plyr::mutate()           masks dplyr::mutate()
✖ lubridate::quarter()     masks data.table::quarter()
✖ plyr::rename()           masks dplyr::rename()
✖ lubridate::second()      masks data.table::second()
✖ lubridate::setdiff()     masks base::setdiff()
✖ plyr::summarise()        masks dplyr::summarise()
✖ plyr::summarize()        masks dplyr::summarize()
✖ purrr::transpose()       masks data.table::transpose()
✖ lubridate::union()       masks base::union()
✖ lubridate::wday()        masks data.table::wday()
✖ lubridate::week()        masks data.table::week()
✖ lubridate::yday()        masks data.table::yday()
✖ lubridate::year()        masks data.table::year()

### Reading Data

In [2]:
db_calls <- read_excel("Copy of Customer data.xlsx",sheet="Calls")
db_sales <- read_excel("Copy of Customer data.xlsx",sheet="Sales")
setDT(db_calls)
setDT(db_sales)

### Data Processing

In [3]:
#Sales Data Gathering
db_sales_1 <- gather(db_sales, key = "Date", value = "Sales", `44785`:`45051`)
db_sales_1$Week1 <- as.Date(as.numeric(db_sales_1$Date), origin = "1899-12-30")
head(db_sales_1,2)
summary(db_sales_1)

  NPI        Segment Date  Sales Week1
1 3854648575 Low     44785 0     2022-08-12
2 6597938497 High    44785 0     2022-08-12

      NPI              Segment              Date               Sales
 Min.   :1.001e+09   Length:552084      Length:552084      Min.   : 0.00000
 1st Qu.:3.243e+09   Class :character   Class :character   1st Qu.: 0.00000
 Median :5.475e+09   Mode  :character   Mode  :character   Median : 0.00000
 Mean   :5.479e+09                                         Mean   : 0.08169
 3rd Qu.:7.726e+09                                         3rd Qu.: 0.00000
 Max.   :9.999e+09                                         Max.   :26.07100
     Week1
 Min.   :2022-08-12
 1st Qu.:2022-10-14
 Median :2022-12-23
 Mean   :2022-12-23
 3rd Qu.:2023-03-03
 Max.   :2023-05-05

In [4]:
#Calls Data Gathering
db_calls_1 <- gather(db_calls, key = "Date", value = "Calls", `44771`:`45051`)
db_calls_1$Week1 <- as.Date(as.numeric(db_calls_1$Date), origin = "1899-12-30")
head(db_calls_1,2)
summary(db_calls_1)

  NPI        Segment Date  Calls Week1
1 3854648575 Low     44771 0     2022-07-29
2 6597938497 High    44771 0     2022-07-29

      NPI              Segment              Date               Calls
 Min.   :1.001e+09   Length:580396      Length:580396      Min.   :0.0000
 1st Qu.:3.243e+09   Class :character   Class :character   1st Qu.:0.0000
 Median :5.475e+09   Mode  :character   Mode  :character   Median :0.0000
 Mean   :5.479e+09                                         Mean   :0.1411
 3rd Qu.:7.726e+09                                         3rd Qu.:0.0000
 Max.   :9.999e+09                                         Max.   :6.0000
     Week1
 Min.   :2022-07-29
 1st Qu.:2022-10-07
 Median :2022-12-16
 Mean   :2022-12-16
 3rd Qu.:2023-02-24
 Max.   :2023-05-05

In [5]:
mdb_a <- merge(x=db_sales_1,y=db_calls_1,by=c("NPI","Segment","Week1","Date"),all=T)
mdb_a$Date <- NULL
mdb_a$YRMO <- as.numeric(format(mdb_a$Week, "%Y%m"))
mdb_a[is.na(mdb_a)] <- 0
mdb <- setDT(copy(mdb_a))

In [7]:
colSums(db_sales_1[, sapply(db_sales_1, is.numeric)])
colSums(db_calls_1[, sapply(db_calls_1, is.numeric)])
colSums(mdb_a[, sapply(mdb_a, is.numeric)])

         NPI        Sales
3.025120e+15 4.510082e+04

         NPI        Calls
3.180254e+15 8.189300e+04

         NPI        Sales        Calls         YRMO
3.180254e+15 4.510082e+04 8.189300e+04 1.173855e+11

In [9]:
mdb[,lapply(.SD, sum, na.rm=TRUE),by="Segment",.SDcols = c("Sales","Calls")]

  Segment Sales     Calls
1 -        2481.979 11717
2 High    17113.592 18623
3 Medium  16620.868 32656
4 Low      8884.376 18897

In [32]:
mdb_week <- mdb[,lapply(.SD, sum, na.rm=TRUE),by=c("NPI","Segment","Week1"),.SDcols = c("Sales","Calls")]
mdb_week <- complete(mdb_week,NPI,Week1)
setDT(mdb_week)
mdb_week[is.na(mdb_week)] <- 0
mdb_week <- mdb_week %>% arrange(NPI, Week1)

In [33]:
mdb_month <- mdb[,lapply(.SD, sum, na.rm=TRUE),by=c("NPI","Segment","YRMO"),.SDcols = c("Sales","Calls")]
mdb_month <- complete(mdb_month,NPI,YRMO)
setDT(mdb_month)
mdb_month[is.na(mdb_month)] <- 0
mdb_month <- mdb_month %>% arrange(NPI, YRMO)